/*** Nav ***/

.glyphicon {
    font-size: 1em;
}

.navbar-brand {
    color: white;
}

.nav a {
    color: white;
}

.wide {
    min-width: 100%;
}


/*** Header ***/

.background-img {
    background: url(SeasonalSite/img/canyon.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.header-text {
    color: white;
    font-size: 3.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-transform: rotate(357deg);
    line-height: 1.05
}

.text-align {
    margin-top: 10vh;
}

.header2-text {
    color: white;
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-transform: rotate(359deg)
}

.header2-align {
    padding-top: 50vh
}


/*** Span 1 Text ***/

.span1-text {
    padding-top: 5vh;
    height: 50vh;
    font-family: roboto;
    font-style: italic;
    font-size: 1.15em;
    line-height: 1.9;
    padding-bottom: 20vh;
}


/*** Span 2 Text ***/

.span2-text {
    width: 100%;
    font-family: Open Sans;
    font-size: 1.1em;
    font-weight: 800;
    font-style: italic
}

.span2-header {
    padding-top: 3vh;
    text-align: center;
    font-size: 4vh;
}

.header-color {
    background-color: #BBEBDF;
    padding-bottom: 1vh;
}

.span2-header-text {}

.span2-information {
    margin: 3vh 3vh;
    font-family: Roboto;
    font-size: 1.4em
}


/*** Reusable Classes ***/

.fullvh {
    height: 100vh;
}

.halfvh {
    height: 50vh;
}


/**** Medium Media Query ****/

@media screen and (min-width:600px) {
    .header-text {
        font-size: 5em;
    }
    .text-align {
        margin-top: 4vh;
    }
    .header2-text {
        padding-top: 50vh;
        font-size: 3em;
    }
}


/**** Large Media Query ****/

@media screen and (min-width: 1023px) {
    .header-text {
        font-size: 5.5em;
    }
    .header2-text {
        padding-top: 45vh;
        font-size: 3em;
    }
}